 

#container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(400px , 1fr);
 gap: 30px 15px;
 margin-top: 30px;
}
#container>div{
    border: 1px solid red;
    width: auto;
    
}
  button{
     margin-left: 20px;
     display: block;
  }

#nav{
     display: flex;
    background-color: gray;
    align-items: center;
     color: black; 
      height: 70px;
     text-align: center;
     justify-content: space-evenly;

 }

 a{
     text-decoration: none;
     color: white;
    /* border: 1px solid orange; */
    padding: 24px;
 }
 a:hover{
    background-color: rgb(67, 61, 61);
 }

 #sort{
   display: flex;
   background-color: gray;
   align-items: center;
    color: black; 
     height: 70px;
    text-align: center;
    justify-content: space-evenly;
}